# Virtual environments
venv/
.venv/
.pythonlibs/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables and secrets
.env

# Databases and logs
*.log
*.sqlite3
*.db

# Optional: if you need sample data only, uncomment below
#!netwatch.db

# OS junk
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/
uv.lock
