#Ignore virtual environments
venv/
.venv/

#Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

#Ignore environment variables
.env

#Ignore local databases and logs
*.log
*.sqlite3
*.db
!netwatch.db

.DS_Store
Thumbs.db


.replit
.local/
.idea/
.vscode/

dist/
build/
*.egg-info/
